<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="/static/styles.css">
    
</head>
<body>
    <h1>Resultados</h1>

    <p><strong>Números ingresados:</strong> {{ lista }}</p>
    <p><strong>Suma:</strong> {{ suma }}</p>
    <p><strong>Media:</strong> {{ media }}</p>
    <p><strong>Mediana:</strong> {{ mediana }}</p>
    <p><strong>Desviación estándar:</strong> {{ desviacion }}</p>
    <a href="/">Volver al inicio</a>
</body>
</html>
